{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ manga.image.url }}" alt="{{ manga.name }}" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h2 class="my-4">{{ manga.name }}</h2>
        <p><strong>Autor:</strong> {{ manga.author }}</p>
        <p><strong>Género:</strong> {{ manga.get_genre_display }}</p>
        <p><strong>Demografía:</strong> {{ manga.get_demography_display }}</p>
        <p><strong>Cantidad de Capítulos:</strong> {{ manga.num_chapters }}</p>
        <hr>
        <p>{{ manga.description }}</p>
        <hr>
        <a href="{% url 'editar_manga' manga.id %}" class="btn btn-primary mr-2">Editar</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Eliminar Manga</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro de que desea eliminar "{{ manga.name }}"?
        </div>
        <div class="modal-footer">
          <form action="{% url 'eliminar_manga' manga.id %}" method="POST">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
